.signin-content {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.full-width-input {
    width: 100%;
}
mat-card {
    width: 75%;
    margin: 10px auto;
}
  